
/* Style The Dropdown Button */
.dropbtn {
    background-color: #273538;
    color: white;
    font-size: 16px;
    margin-right: 50px;
    padding: 16px;
    border: none;
    cursor: pointer;

}

.dropbtn:hover {

	background-color: #3e8e41;
	}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* buttons in menu with anchor */
.dropbtn a {

    text-decoration: none;
    color: white;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.menusleft td
{
background: #FFFFFF;
opacity: 0.8;
width: 130px;
height: 40px;
color: white;
font-size: 22px;
text-decoration: none;

}
.menusleft td a
{
color: black;
text-decoration: none;

}

.menusleft td a:hover
{
color: black;
text-decoration: none;
color: white;
transition:0.9s;
}


.menusleft td:hover
{
background: #2E4148;
opacity: 0.9;
color: white;
transition: 0.7s;
}
.menusleft img: hover
{
opacity: 0.7;
transition: 0.7s;
}
.footer table
{
    float: right;
}
.footer img:hover
{
opacity: 0.5;
cursor: pointer;
transition-delay: 0.4s;
transition: 0.5s;
}
.content table
{
    float: right;
}

.menusleft td
{
background: #FFFFFF;
opacity: 0.8;
width: 130px;
height: 40px;
color: white;
font-size: 22px;
text-decoration: none;

}
.menusleft td a
{
color: black;
text-decoration: none;

}

.menusleft td a:hover
{
color: black;
text-decoration: none;
color: white;
transition:0.9s;
}


.menusleft td:hover
{
background: #2E4148;
opacity: 0.9;
color: white;
transition: 0.7s;
}
.menusleft img: hover
{
opacity: 0.7;
transition: 0.7s;
}
.footer table
{
    float: right;
}
.footer img:hover
{
opacity: 0.5;
cursor: pointer;
transition-delay: 0.4s;
transition: 0.5s;
}
.content table
{
    float: right;
}
</style><style>
.menusleft td
{
background: #FFFFFF;
opacity: 0.8;
width: 130px;
height: 40px;
color: white;
font-size: 22px;
text-decoration: none;

}
.menusleft td a
{
color: black;
text-decoration: none;

}

.menusleft td a:hover
{
color: black;
text-decoration: none;
color: white;
transition:0.9s;
}


.menusleft td:hover
{
background: #2E4148;
opacity: 0.9;
color: white;
transition: 0.7s;
}
.menusleft img: hover
{
opacity: 0.7;
transition: 0.7s;
}
.footer table
{
    float: right;
}
.footer img:hover
{
opacity: 0.5;
cursor: pointer;
transition-delay: 0.4s;
transition: 0.5s;
}
.content table
{
    float: right;
}